{% extends 'base.html' %}
{% load shuffle %}
{% load static %}

{% block title %}QuickPolls{% endblock %}
{% block content %}
{% include 'stock/polls_filter.html' %}
{% block polls_filter %}{% endblock %}
{% if questions %}
{% for question in questions %}
<div class="card my-3">
    {% if question.question_image %}
    <img src="{{question.question_image.url}}" class="card-img-top" alt="question">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title fs-3">{{question.title}}</h5>
        {% if question.description %}
        <p class="card-text">{{question.description}}</p>
        {% endif %}
    </div>
    <form class="list-group list-group-flush mx-3" id="polls">
        <div class="row">
            {% for choice in question.choice.all|shuffle %}
            <div class="mb-3 col-md-6">
                <label for="{{choice.id}}" class="form-label fs-5 lead">{{choice.title}}</label>
                <progress value="0" class="choices_progress_pending" max="{{question.total_votes}}"
                    onclick="choiceClick(event, '{{question.id}}', '{{choice.id}}')" aria-disabled="true"
                    id="{{choice.id}}"></progress>
            </div>
            {% endfor %}
        </div>

    </form>
</div>
{% endfor %}
{% include "stock/pagination.html" %}
{% block pagination %}{% endblock %}
{% else %}
<div class="alert alert-danger my-4" role="alert">
    Sorry No Polls Available &smile;
</div>
{% endif %}
{% endblock %}

{% block ajax-scripts %}
<script>
    function choiceClick(event, questionId, choiceId) {
        event.preventDefault();
        let data = { "questionId": questionId, "choiceId": choiceId };

        // AJAX request
        $.ajax({
            url: `{% url 'vote' %}`,
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'data': JSON.stringify(data)

            },
            success: function (response) {
                for (choice in response.choices_data) {
                    elem = document.getElementById(`${choice}`)
                    elem.setAttribute("value", response.choices_data[choice]["votes"]);
                    elem.setAttribute("max", response.question_total_votes);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error occurred:', status, error);
            }
        });
    }
</script>
{% endblock %}